.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inner-container {
  max-width: 450px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  align-self: flex-start;
  margin-left: 16px;
}

.image-container {
  margin-bottom: 32px;
}

.image {
  width: 100%;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 8px;
  padding-top: 12px;
}

.left-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icon {
  width: 20px;
  height: auto;
  margin-right: 8px;
  cursor: pointer;
}

.likes {
  margin-left: 12px;
  font-size: 12px;
  margin-top: 8px;
}